<div class="container">
  <div class="row well">
    <div class="down-50">
      <%= form_for @game, :method => :put do  %>   
        <div class="span3 well">
          <% if @game.game_in_progress %>
            <h3>Current Turn</h3>
          <% else %>
            <h3>Winner</h3>
          <% end %>
          <% if @game.current_player == 'white' %>
            <label class="btn disabled">White</label>
          <% else %>
            <label class="btn btn-inverse disabled">Black</label>
          <% end %>
        </div>
        <div class="span3 well">
          <h3>White Player Id</h3>
          <label class="btn btn-info disabled"><%= @game.white_player_id %></label>
        </div>
        <div class="span3 well">
          <h3>Black Player Id</h3>
          <% if @game.game_in_progress and @game.black_player_id != nil %>
            <label class="btn btn-info disabled"><%= @game.black_player_id %></label>
          <% else %>
            <input type="submit" class="btn btn-primary" value="Simulate Black Player" />
          <% end %>
        </div>
      <% end %>

      <div>
        <legend><%= (@game.current_player == "black" && @game.black_player_id == "Synchro" ? "Make a Move" : "Current Game State") %></legend>
        <% (0..7).each do |x| %>
          <div class="row">
            <div class="offset1">
              <% (0..7).each do |y| %>
                <div class="<%= (x % 2 == 0 ? (y % 2 == 0 ? "span1 light-square" : "span1 dark-square") : (y % 2 == 0 ? "span1 dark-square" : "span1 light-square")) %>"></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
